<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mid-term-market</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/items.css" type="text/css" />
  <link rel="stylesheet" href="/styles/post-Item.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <style>
    /* Add your custom CSS styles here */
    .filter-options {
      margin-bottom: 20px;
    }

    .filter-options label {
      font-weight: bold;
    }

    .filter-options select {
      padding: 5px;
    }

    .user-login form {
      display: flex;
      align-items: center;
    }

    .user-login input[type="text"],
    .user-login input[type="password"] {
      padding: 5px;
      margin-right: 10px;
    }

    .user-login button {
      padding: 5px 10px;
      background-color: #337ab7;
      color: #fff;
      border: none;
    }

    .user-login span {
      margin: 0 10px;
    }

    .user-login a {
      color: #337ab7;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <header id="header">
    <div id="top-left">
      <div id="icon-title">
        <img src="/icons/shop.png" id="titleIcon">
        <span id="title">Mid-term Marketplace</span>
      </div>

      <span id="creators"><div><strong>GROUP TWO </strong>project eight<br></div></span>
      <div id="header-footer">
        <form action="/items" method="GET" id="keyword-search">
          <textarea name="text" id="search-text" placeholder="search"></textarea>
        </form>
        <button type="submit" id="filter-button">filter</button>
      </div>
    </div>
  <div id="top-right">
    <div id="fav">
      <form action="/saved" method="GET" id="get-saved-items">
        <button type="submit" class="user-icon"><img src="/icons/fav.png " id="icon"> </button>
      <span id="creators"> <strong>Saved<br></strong></span>
      </form>
    </div>
    <div id="fav">
      <form action="/listed" method="GET" id="get-listed-items">
        <button type="submit" class="user-icon"><img src="/icons/sales.png" id = "icon"> </button>
        <span id="creators"> <strong>Listed<br></strong></span>
      </form>
    </div>
    <div id="fav">
      <form action="/post" method="GET" id="get-post-form">
        <button type="submit" class="user-icon"><img src="/icons/post.png" id="icon"> </button>
        <span id="creators"> <strong>Post<br></strong></span>
      </form>
    </div>
  </div>
  </header>
  <!-- Filter Options -->
  <div class="filter-options">
    <label for="filter">Filter:</label>
    <select id="filter">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </div>

  <!-- Login/Register Form -->
  <div class="user-login">
    <form>
      <input type="text" id="username" placeholder="Username">
      <input type="password" id="password" placeholder="Password">
      <button type="submit">Login</button>
      <span>or</span>
      <a href="#">Register</a>
    </form>
  </div>

<!-- Page-specific (main) content here -->
<main id="container">
  <section id="container-to-vanish-post-form">
    <div id="post-new-item-div">
      <header id="post-form-header">
        <span id="post-title">Post Ad<span>
      </header>
      <form action="/items" method="POST" id="post-form-input"></form>
        <div class="entire-div">
          <div class="input-group" id="left-side">
            <span id="pForm-titles">Ad title</span>
            <textarea name="text" class="input-text" id="title-input"></textarea>
            <span id="pForm-titles">Description</span>
            <textarea name="text" class="input-text" id="desc-input-area"></textarea>
            <span id="pForm-titles">Price</span>
            <textarea name="text" class="input-text" id="price-input"></textarea>
            <span id="pForm-titles">Cover photo</span>
            <textarea name="text" class="input-text" id="cover-photo"></textarea>
          </div>
          <div class="input-group" id="right-side">
            <span id="pForm-titles">Alternate photo 1</span>
            <textarea name="text" class="input-text" id="a-photo1-input"></textarea>
            <span id="pForm-titles">Alternate photo 2</span>
            <textarea name="text" class="input-text" id="a-photo2-input"></textarea>
            <span id="pForm-titles">City</span>
            <textarea name="text" class="input-text" id="city-input"></textarea>
            <span id="pForm-titles">Province</span>
            <textarea name="text" class="input-text" id="province-input"></textarea>
            <span id="pForm-titles">Community</span>
            <textarea name="text" class="input-text" id="community-input"></textarea>
            <div id="post-footer">
              <img src="/icons/submit.png" id="submit-icon">
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>


  <div id="container-to-vanish-saved">
    <section id="saved-items">
      <article class="item">
        <img class="thumbnail_photo1" src="/temp-images/eli Small.png">
        <div id="item-info">
          <span><strong>Price:  </strong>$1000</span>
          <br>
          <span><strong>Title:  </strong>Best jersey</span>
          <br>
          <span><strong>City:  </strong>Calgary</span>
        </div>
      </article>

      <article class="item">
        <img class="thumbnail_photo1" src="/temp-images/clarinet Small.png">
        <div id="item-info">
          <span><strong>Price:  </strong>$55</span>
          <br>
          <span><strong>Title:  </strong>Woodwind</span>
          <br>
          <span><strong>City &nbsp;:  </strong>Calgary</span>
        </div>
      </article>

      <article class="item">
        <img class="thumbnail_photo1" src="/temp-images/gs-stuffy Small.png">
        <div id="item-info">
          <span><strong>Price:  </strong>$15</span>
          <br>
          <span><strong>Title:  </strong>Man's best friend</span>
          <br>
          <span><strong>City:  </strong>Calgary</span>
        </div>
      </article>
    </section>
  </div>


  <section id="item-container">
    <article class="item">
      <img class="thumbnail_photo1" src="/temp-images/thumbnail_1 Small.png">
      <div id="item-info">
        <span><strong>Price:  </strong>$100</span>
        <br>
        <span><strong>Title:  </strong>My Good Bike</span>
        <br>
        <span><strong>City:  </strong>Vancouver</span>
      </div>
    </article>

    <article class="item">
      <img class="thumbnail_photo1" src="/temp-images/thumbnail_1 Small.png">
      <div id="item-info">
        <span><strong>Price:  </strong>$100</span>
        <br>
        <span><strong>Title:  </strong>My Good Bike</span>
        <br>
        <span><strong>City:  </strong>Vancouver</span>
      </div>
    </article>

    <article class="item">
      <img class="thumbnail_photo1" src="/temp-images/thumbnail_1 Small.png">
      <div id="item-info">
        <span><strong>Price:  </strong>$100</span>
        <br>
        <span><strong>Title:  </strong>My Good Bike</span>
        <br>
        <span><strong>City:  </strong>Vancouver</span>
      </div>
    </article>

    <article class="item">
      <img class="thumbnail_photo1" src="/temp-images/thumbnail_1 Small.png">
      <div id="item-info">
        <span><strong>Price:  </strong>$100</span>
        <br>
        <span><strong>Title:  </strong>My Good Bike</span>
        <br>
        <span><strong>City:  </strong>Vancouver</span>
      </div>
    </article>

    <article class="item">
      <img class="thumbnail_photo1" src="/temp-images/thumbnail_1 Small.png">
      <div id="item-info">
        <span><strong>Price:  </strong>$100</span>
        <br>
        <span><strong>Title:  </strong>My Good Bike</span>
        <br>
        <span><strong>City:  </strong>Vancouver</span>
      </div>
    </article>

    <article class="item">
      <img class="thumbnail_photo1" src="/temp-images/thumbnail_1 Small.png">
      <div id="item-info">
        <span><strong>Price:  </strong>$100</span>
        <br>
        <span><strong>Title:  </strong>My Good Bike</span>
        <br>
        <span><strong>City:  </strong>Vancouver</span>
      </div>
    </article>

    <article class="item">
      <img class="thumbnail_photo1" src="/temp-images/thumbnail_1 Small.png">
      <div id="item-info">
        <span><strong>Price:  </strong>$100</span>
        <br>
        <span><strong>Title:  </strong>My Good Bike</span>
        <br>
        <span><strong>City:  </strong>Vancouver</span>
      </div>
    </article>

    <article class="item">
      <img class="thumbnail_photo1" src="/temp-images/thumbnail_1 Small.png">
      <div id="item-info">
        <span><strong>Price:  </strong>$100</span>
        <br>
        <span><strong>Title:  </strong>My Good Bike</span>
        <br>
        <span><strong>City:  </strong>Vancouver</span>
      </div>
    </article>

    <article class="item">
      <img class="thumbnail_photo1" src="/temp-images/thumbnail_1 Small.png">
      <div id="item-info">
        <span><strong>Price:  </strong>$100</span>
        <br>
        <span><strong>Title:  </strong>My Good Bike</span>
        <br>
        <span><strong>City:  </strong>Vancouver</span>
      </div>
    </article>

    <article class="item">
      <img class="thumbnail_photo1" src="/temp-images/thumbnail_1 Small.png">
      <div id="item-info">
        <span><strong>Price:  </strong>$100</span>
        <br>
        <span><strong>Title:  </strong>My Good Bike</span>
        <br>
        <span><strong>City:  </strong>Vancouver</span>
      </div>
    </article>
  </section>



</main>





</body>

</html>
